.question {
  border: 1px solid #000;
  margin-bottom: 10px;
}
.styling {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.styling button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
/* .paragraph {
  padding: 20px;
  display: none;
} */